<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Search Student</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="form-container">

        <h1>Search Student</h1>

        <form method="POST">

            <label>Enter Student ID</label>

            <input
                type="number"
                name="id"
                placeholder="Example: 1001"
                required
            >

            <button type="submit">
                Search
            </button>

        </form>

        {% if student %}

            <div class="result">

                <h2>Student Found</h2>

                <p><strong>ID:</strong> {{ student.id }}</p>

                <p><strong>Name:</strong> {{ student.name }}</p>

                <p><strong>Course:</strong> {{ student.course }}</p>

                <p><strong>Age:</strong> {{ student.age }}</p>

            </div>

        {% elif request.method == "POST" %}

            <p class="error">
                Student not found.
            </p>

        {% endif %}

        <a href="/" class="back-button">
            ← Back to Menu
        </a>

    </div>

</body>
</html>